<?xml version="1.0"?>
<BusinessLogics xmlns="http://www.freetime-generic.com">
  <BusinessLogic>
    <Type>Freetime.Base.Business.AuthenticationLogic</Type>
    <Assembly>Freetime.Base.Business</Assembly>
    <DataSessionType>Freetime.Base.Data.AuthenticationSession</DataSessionType>
    <DataSessionAssembly>Freetime.Base.Data</DataSessionAssembly>
  </BusinessLogic>
</BusinessLogics>
