<?xml version="1.0"?>
<Controllers xmlns="http://www.freeG-businessplatform.com">
  <WebController>
    <Name>Root</Name>
    <ControllerType>Freetime.Web.Controller.RootController</ControllerType>
    <Assembly>Freetime.Web.Controller</Assembly>
    <IsActive>true</IsActive>
  </WebController>  
  <WebController>
    <Name>Account</Name>
    <ControllerType>Freetime.Web.Controller.AccountController</ControllerType>
    <Assembly>Freetime.Web.Controller</Assembly>
    <IsActive>true</IsActive>
  </WebController>       
</Controllers>

