<?xml version="1.0"?>
<EventHandlers xmlns="http://www.freeG-businessplatform.com">
  <EventHandler>
    <UniqueId>Freetime.Plugin.EventHandling.EventHandler</UniqueId>
    <Name>Freetime.Plugin.EventHandling.EventHandler</Name>
    <EventHandlerClass>Freetime.Plugin.EventHandling.EventHandler</EventHandlerClass>
    <Assembly>Freetime.Plugin.EventHandling</Assembly>
    <AssemblyLocation>C:\Documents and Settings\Administrator\Desktop\freetime\1.0.1.x\Freetime.Web\bin</AssemblyLocation>
    <IsActive>true</IsActive>
  </EventHandler>  
</EventHandlers>


