<?xml version="1.0"?>
<PartialViews xmlns="http://www.freeG-businessplatform.com">
  <PartialView>
    <Name>LogOnUserControl</Name>
    <File>~/Controls/LogOnUserControl.ascx</File>
  </PartialView>
  <PartialView>
    <Name>LoginControl</Name>
    <File>~/Controls/LoginControl.ascx</File>
  </PartialView>
</PartialViews>
