<?xml version="1.0"?>
<Views xmlns="http://www.freetime-businessplatform.com">
  <WebView>
    <Name>Index</Name>
    <File>~/Index.aspx</File>
    <IsThemed>false</IsThemed>
  </WebView>
  <WebView>
    <Name>Error</Name>
    <File>~/Error.aspx</File>
    <IsThemed>false</IsThemed>
  </WebView>  
</Views>
