<?xml version="1.0" encoding="utf-8" ?>
<Schema>

  <!--Freetime.Base.Data.Entities.UserAccount-->
  <DataObject Type="Freetime.Base.Data.Entities.UserAccount" Assembly="Freetime.Base.Data" View="UserAccount" Update="UserAccount">
    <Fields>
      <DataField Name="ID" IsPrimaryKey="true" IsIdentity="true" Property="ID" />
      <DataField Name="LoginName" Property="LoginName" />
      <DataField Name="Password" Property="Password" />
      <DataField Name="UserRole" Property="UserRole" />
      <DataField Name="UserProfile" Property="UserProfile" />
      <DataField Name="WebTheme" Property="WebTheme" />
      <DataField Name="Theme" Property="Theme" />
      <DataField Name="IsActive" Property="IsActive" />
      <DataField Name="UserCreated" Property="UserCreated" />
      <DataField Name="DateCreated" Property="DateCreated" />
      <DataField Name="UserModified" Property="UserModified" />
      <DataField Name="DateModified" Property="DateModified" />     
    </Fields>
  </DataObject>
  <!--END-->
  
  
</Schema>