<?xml version="1.0" encoding="utf-8" ?>
<Services xmlns="http://freetime-generic.com">  
  
  <DataSessionService>
    <Name>IAuthenticationSession</Name>
    <Type>Freetime.Base.Data.AuthenticationSession</Type>
    <Assembly>Freetime.Base.Data</Assembly>
    <Contract>Freetime.Base.Data.Contracts.IAuthenticationSession</Contract>
    <ContractAssembly>Freetime.Base.Data</ContractAssembly>
  </DataSessionService>

  <DataSessionService>
    <Name>ILocalizationSession</Name>
    <Type>Freetime.Base.Data.LocalizationSession</Type>
    <Assembly>Freetime.Base.Data</Assembly>
    <Contract>Freetime.Base.Data.Contracts.ILocalizationSession</Contract>
    <ContractAssembly>Freetime.Base.Data</ContractAssembly>
  </DataSessionService>
  
</Services>