<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="Freetime.Configuration" type="Freetime.Configuration.FreetimeConfiguration, Freetime.Configuration" allowDefinition="Everywhere" requirePermission="false" />
    <section name="globalEventConfig" type="Freetime.GlobalHandling.GlobalEventConfiguration, Freetime.GlobalHandling" allowDefinition="Everywhere" requirePermission="false" />
  </configSections>

  <Freetime.Configuration DefaultTheme="FreetimeBlue" DefaultMasterPage="Main" GlobalEventConfigurationSection="globalEventConfig" PluginManagementConfigurationSection="pluginManagementConfig">

  </Freetime.Configuration>

  <globalEventConfig>
    <Handlers>
      <clearHandlers />
      <!--<addHandler 
        name="Project.Anito.Website.EventHandler" 
        assembly="Project.Anito.Website.EventHandler" 
        handler="Project.Anito.Website.EventHandler.FreetimeEventHandler" 
        isactive="false" 
        assemblylocation="D:\TekWorc\Freetime-G-Business-Platform\1.0.1.x\Freetime.Web\bin"
      />-->
    </Handlers>
  </globalEventConfig>
  
</configuration>

