<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="Freetime.Configuration" type="Freetime.Configuration.FreetimeConfiguration, Freetime.Configuration" allowDefinition="Everywhere" requirePermission="false" />
    <section name="pluginManagementConfig" type="Freetime.PluginManagement.Configuration.PluginManagerConfiguration, Freetime.PluginManagement" allowDefinition="Everywhere" requirePermission="false" />
  </configSections>

  <Freetime.Configuration PluginManagementConfigurationSection="pluginManagementConfig" />

  <pluginManagementConfig IsCustom="false">
    <Attributes>
      <clearAttributes />      
      <addAttribute Key="DataServiceConfig" Value="C:\Documents and Settings\Administrator\Desktop\freetime-platform\1.0.x.x\Freetime.Data.Services.Host\Config\DataServices.config" />
    </Attributes>
  </pluginManagementConfig>
  
  
</configuration>