<?xml version="1.0" encoding="utf-8" ?>
<!-- Configuration File Dummy; This is needed to run Freetime.Configuration -->
<configuration>
  <configSections>
    <section name="Freetime.Configuration" type="Freetime.Configuration.FreetimeConfiguration, Freetime.Configuration" allowDefinition="Everywhere" requirePermission="false" />
    <section name="globalEventConfig" type="Freetime.GlobalHandling.GlobalEventConfiguration, Freetime.GlobalHandling" allowDefinition="Everywhere" requirePermission="false" />
  </configSections>

  <Freetime.Configuration DefaultTheme="FreetimeBlue" DefaultMasterPage="Main" GlobalEventConfigurationSection="globalEventConfig" PluginManagementConfigurationSection="pluginManagementConfig">

  </Freetime.Configuration>

  <globalEventConfig>
    <Handlers>
      <clearHandlers />
    </Handlers>
  </globalEventConfig>
  
</configuration>

